html {
	background: #09111D;
}

body {
	color: #2e1a93;
	background: linear-gradient(180deg, rgba(15, 13, 17, 0) 80vh, rgb(0 0 0) 100vh, rgb(0 0 0) 120vh, rgba(15, 13, 17, 0) 250vh);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
}

a {
    color: #6a29d6;
}

a:hover, a:focus {
    color: #bd1647;
}

hr {
	border-color: #efedff;
}

#title {
      color: #e0d7ff;
      background: -webkit-linear-gradient(#e0d7ff, #6b76da);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0 0 10px #a397cb99;
      mix-blend-mode: plus-lighter;
}

/** Main Image **/

.main-image {
      background: radial-gradient(circle farthest-corner at center top, rgba(255, 255, 255, 0) 80%, rgb(17 5 120) 100%), radial-gradient(circle farthest-corner at 45% top, rgba(255, 255, 255, 0) 45%, rgb(112 93 218 / 50%) 100%), url(https://flyteckscharactersheets.cfw.me/files/displayimagetestfriend.jpg);
      height: 100vh;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: center top;
 }

 .stars {
      background: url(../img/layout/shootingstars.gif) center center / 80vw, url(../img/layout/twinklestars.gif) bottom left / 200px, url(../img/layout/twinklestars.gif) -300px center / 400px, linear-gradient(0deg, #6372ff60, #0f194660);
      mask: url(../img/layout/friendmask.png) alpha;
      mask-size: 100% auto;
      mask-repeat: no-repeat;
      mask-position: center top;
      height: 100vh;
      width: 100%;
      mix-blend-mode: color-dodge;
      background-blend-mode: screen;
      filter: saturate(0.2) brightness(1.3);
 }

/* Maximum aspect ratio */
@media (max-aspect-ratio: 229/158) {
	#friend .main-image {
        background-size: auto 100vh;
      }

      #friend .stars {
        mask-size: auto 100vh;
      }
}

@media (max-aspect-ratio: 625/790) {
	.main-image {
        background-position: 30% top;
      }

      .stars {
          mask-position: 30% top;
      }
      .title-flex {
        bottom: 15%;
        top: auto;
        right: auto;
        left: 2%;
      }
}

/** /Main Image **/

#tabbar, #tabbar button {
	background-color: #848eed;
}

#tabbar button:hover, #tabbar button:focus {
	background-color: #3c3788;
	color: #e65783;
}

#tabbar button.activebtn {
	background-color: #e65783;
	color: white;
}

.text-container, .info-inner, .info-inner-lg, .personality-trait-container {
	background-color: #f2f3ff;
      border-top: 1px solid #ffffff;
      border-bottom: 1px solid #7c5cc0;
}

.personality-trait {
    background-color: #f2f3ff;
}

.general-container, .relationship-container {
      background: linear-gradient(15deg, #8aa4e0, #c8cafa);
      border: 1px solid #1f19b8;
      border-bottom: 2px solid #1f19b8;
}

.tab-content.active::-webkit-scrollbar-thumb, .main-body-one::-webkit-scrollbar-thumb, .relationship-bar::-webkit-scrollbar-thumb, .main-page-column-2::-webkit-scrollbar-thumb  {
      background-color: #848eed;
}

.progress-lower {
	background-color: #34326d;
	color: #eceeff90;
}

.progress-higher {
    background-color: #848ded;
}

.trivia-blurb .fa-solid:after {
	content: "\f005";
	color: #f2f3ff;
	filter: drop-shadow(-1px 1px 0 #8cb2f5) drop-shadow(1px 1px 0 #8cb2f5);
}

.trivia-blurb {
	border-color: #2e1a93;
	background: linear-gradient(90deg, #848ded 30px, #e4e8f7 30px, #f2f3ff);
	box-shadow: rgba(20, 20, 60, 0.3) 0px 4px 3px, rgba(20, 20, 60, 0.2) 0px -2px 0px inset;
}

.skills, .saves, .proficiency-bonus {
	background: #f2f3ff;
	border-top: 1px solid #f2f3ff;
	border-bottom: 2px solid #445676;
}

.icon-and-stats, .main-page-column-1 {
	border-color: #EFECFF;
}

.main-page-column-2 h1 {
    color: #3f3f95;
    text-shadow: 0 -1.5px 0.5px #14143c, 0 1px 1px white;
}

.dnd-image {
	background: url(https://flyteckscharactersheets.cfw.me/files/spookmini.png) center / contain no-repeat;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #14143c;
	box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.dnd-stat-container {
	background: linear-gradient(-15deg, #cad3e7, #f2f3ff);
	border-top: 2px solid #ffffff;
	border-bottom: 2px solid #7f98c6;
	box-shadow: rgba(20, 20, 60, 0.3) 0px 2px 4px, rgba(20, 20, 60, 0.2) 0px 1px 7px -3px, rgba(20, 20, 60, 0.2) 0px -1px 0px inset;
}

.dnd-stat-container .value {
	background: linear-gradient(#12196e, #505196);
	color: white;
	border-top: 1px solid #d8e6ff;
	border-bottom: 1px solid #151a24;
	box-shadow: rgba(20, 20, 60, 0.3) 0px 2px 4px, rgba(20, 20, 60, 0.2) 0px 1px 7px -3px, rgba(20, 20, 60, 0.2) 0px -1px 0px inset;
}

.dnd-button-bar button {
	background: #171d71;
	color: white;
	border-top: 1px solid #4268b7;
	border-bottom: 1px solid #000000;
}

.dnd-button-bar button:hover, .dnd-button-bar button:focus {
	background: #848fed;
}

.dnd-button-bar button.activebtn, .dnd-button-bar button.activebtn {
	background: #e65783;
	color: #7d0c39;
}

.dnd-button-bar button.inactive:hover, .dnd-button-bar button.inactive:focus {
	background: #14143c;
}

.spell-link {
      background: #c3ccf6;
      border-top: 1px solid #ffffff;
      border-bottom: 1px solid #9aaac6;
      position: relative;
}

.spell-link i {
	z-index: 1;
}

.spell-link:after {
	content:"";
	background: linear-gradient(15deg, transparent, #d9e7ff);
	width: 100%;
	height:100%;
	position: absolute;
	top: 0;
	left: 0;
}

.spell-link:hover, .spell-link:focus {
	background: #bcd4ff;
}

.save-and-attack div {
      background: linear-gradient(15deg, #efedff, #d5e0f7);
      border-top: 1px solid #f2f3ff;
      border-bottom: 2px solid #445676;
}

.dnd-ability {
    border: 1px solid #7f98c6;
    background: linear-gradient(15deg, #e4e8f7, #f2f3ff);
 }

 .material-component {
      background: #f2f3ff;
 }

 .at-higher-levels hr {
      background: linear-gradient(15deg, #242460, transparent);
 } 

 .song-container {
      background: #6197ff;
}

.comic-wrapper {
      background: #d6dcee;
      color: #14143c;
      border-top: 1px solid #f2f3ff;
      border-bottom: 2px solid #445676;
      box-shadow: rgba(20, 20, 60, 0.3) 0px 2px 4px, rgba(20, 20, 60, 0.2) 0px 1px 7px -3px, rgba(20, 20, 60, 0.2) 0px -1px 0px inset;
}

.comic-wrapper:hover, .comic-wrapper:focus {
      background: #d2e2ff;
}

.comic-wrapper img {
     background-color: #070721;
}

.photo-wrapper.reference:after {
      background: #e9e9e9;
      color: #14143c;
}

.photo-title-bar, .photo-footer-bar {
    background: #f2f3ff;
}

.dressup-container {
    background: url(https://flyteckscharactersheets.cfw.me/files/dots.png) center / 300px, linear-gradient(180deg, #b3c2dd 0, #3a3f55 100%);
    border: 1px solid #7890b9;
    box-shadow: rgb(59 60 74) 3px 3px 6px 0px inset, rgb(45 45 65 / 25%) -3px -3px 6px 1px inset;
    border-top: 2px solid #6984ab;
    border-bottom: 2px solid #8da2c9;
}

.outfit-scroll-wrapper {
    background: #d6dcee;
    border-top: 1px solid #ccdbff;
    border-bottom: 1px solid #848ded;
}

.hairstyle-rec img {
      background: url(https://flyteckscharactersheets.cfw.me/files/icons/bluestar.png) center/contain no-repeat;
}

.outfit-checkbox-container {
      background: #e2e4ff;
      border-top: 1px solid #ffffff;
      border-bottom: 1px solid #7c5cc0;
}

.sticky-box {
    background: #848ded;
    color: #efedff;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #efedff;
}

.clothing-checkbox-container {
      background-color: #f2f3ff;
      border-top: 1px solid #ffffff;
      border-bottom: 1px solid #848ded;
}

.clothing-checkbox-container:hover, .clothing-checkbox-container:focus, .clothing-checkbox-container:focus-within, .clothing-checkbox-container:active {
	background-color: #e54576;
    	opacity: 1;
    	color: #ffffff;
}

.clothing-checkbox-container input:checked ~ .checkmark {
	background-color: #e54576;
	background-image: url(../img/layout/visibleiconwhite.png);
}

.palette-button {
      background-color: #bcd4ff;
      border: 1px solid #242460;
      background: #bcd4ff url(https://flyteckscharactersheets.cfw.me/files/icons/paletteiconscharacter.png) center center / 35px no-repeat;
}

#outfit-button {
      background: #bcd4ff url(https://flyteckscharactersheets.cfw.me/files/icons/paletteiconsclothes.png) center center / 35px no-repeat;
}

.outfit-toggle, .front-back-toggle {
    background: #848ded;
    border-top: 1px solid #efedff;
    border-bottom: 1px solid #4e51e1;
    color: #efedff;
}

.outfit-toggle:hover, .outfit-toggle:focus, .front-back-toggle:hover, .front-back-toggle:focus, .palette-button:hover, .palette-button:focus, #outfit-button:hover, #outfit-button:focus {
      background-color: #6063f2;
      border-bottom: 1px solid #2d3266;
}

.outfit-toggle:active, .front-back-toggle:active, .palette-button:active, #outfit-button:active {
	background-color: #4e51e1;
      border-color: #d6dcee;
      border-top: 2px solid transparent;
      border-bottom: none;
      background-clip: padding-box;
}

.tab-background {
      background: linear-gradient(180deg, rgb(25 13 161 / 43%) 0, rgb(186 156 238 / 49%) 100%), url(../img/layout/starsbg.jpeg) left top / 350px;
    	border-color: #848ded;
      box-shadow: 0 15px 25px black;
}

.character-image-box {
      background-image: url(https://f2.toyhou.se/file/f2-toyhou-se/images/61006574_MoRD7AFAYOo4ANU.png?1692976893);
}

.details-content.active, .relationship-content.active {
	background: linear-gradient(15deg, #c3ccf6, #d9e7ff);
    	border-top: 1px solid #f2f3ff;
    	border-bottom: 2px solid #445676;
}

.general-title-bar {
    background: linear-gradient(15deg, #b5bef2, #c7c9fa);
    border-bottom: 1px dashed #efedff;
}

.outfit-scroll-wrapper::-webkit-scrollbar-thumb  {
      background: linear-gradient(45deg, #848ded 25%, #f2f3ff 25.5%, #f2f3ff 50%, #848ded 50.5%, #848ded 75%, #f2f3ff 75.5%, #f2f3ff) center/10px;
      background-size: 20px 20px;
}

@media (max-width: 700px) {

	.tab-one-container, .tab-six-container {
	    background: linear-gradient(15deg, #8aa4e0, #c8cafa);
	    border: 1px solid #1f19b8;
	    border-bottom: 2px solid #1f19b8;
	}
}