/** General CSS - this applies to all pages and contains things like default fonts and repeated boxes **/

    @import url("https://use.fontawesome.com/releases/v5.0.9/css/all.css");
    @import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Sedan:ital@0;1&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap");
    @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Edu+QLD+Beginner:wght@400..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Quintessential&family=Satisfy&family=Sriracha&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

    html {
      font-family: "Dosis", sans-serif;
      background: linear-gradient(180deg, #fbe07826 0, rgb(120 82 48 / 60%) 100%), url(../img/layout/main-background.jpg) left top / 350px;
    }

    body {
      color: #372207;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.02em;
      min-height: calc(var(--vh, 1vh) * 100);
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }

    a {
      text-decoration: none;
      color: #213353;
      transition: 150ms ease;
    }

    a:hover,
    a:focus {
      color: #30598c;
    }

    a.tab-nav-link:hover, a.tab-nav-link:focus {
      color: #aec4e8;
    }

    b, strong {
        font-weight: 600;
    }

    ul {
    	padding: 0;
    	margin: 0;
    }

    ul li {
    	list-style: none;
    }

    hr {
      border: none;
      border-top: 1px dashed #aec4e8;
    }

    details {
      overflow: hidden; /* Keep this line to prevent an odd blue outline around the element in Safari. */
      transition: 300ms ease;
    }

    div.details-body { 
     max-height: 0;
     overflow: hidden;
     opacity: 0;
     transition: 300ms ease;
    }

    details[open] + div.details-body {
     max-height: 500px; /* Set a max-height value enough to show all the content */ 
     border-color: #888;
     opacity: 1;
    }

    details summary::-webkit-details-marker {
      display:none;
    }

    details > summary, details[open] > summary {
        list-style-type: none;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    details > summary:after {
        border: 1px solid #242460;
        background: #bcd4ff;
        content: '✖';
        font-family: sans-serif;
        font-size: 13px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        transform: rotate(45deg);
        transition: 200ms ease;
    }

    details > summary:hover:after {
      background: #8cb2f5;
    }

    details[open] > summary:after {
      transform: rotate(0turn);
    }

    button {
      margin: 0;
      padding: 0;
      border: 0;
      color: inherit;
      cursor: pointer;
      background: none;
    }

    /* Headers */

    h1, h2, h3, h4 {
      margin: 0;
      font-weight: 400;
    }

    h1, h2 {
      font-family: "Averia Serif Libre", serif;
      margin: 5px 0;
    }

    h3, h4 {
      font-family: "Piazzolla", serif;
      margin: 0 0 10px;
    }

    h4 {
      font-size: 110%;
      font-weight: 500;
    }

    .text-container h4, .sticky-box h4 {
      margin: -5px 0 5px;
    }

    .text-container h4 {
      display: flex;
      align-items: center;
    }

    .text-container h4 i {
      margin-right: 5px;
    }

    .outfit-checkbox-container h4 {
      font-size: 100%;
      margin: 0 0 5px;
    }

    /* Containers & General Body Modifiers */

    .subtitle {
      font-size: 90%;
    }

    .left {
      text-align: left;
    }

    .right {
      text-align: right;
    }

    .flex-column {
      display: flex;
      flex-direction: column;
    }

    .rounded-image {
      border-radius: 12px;
    }

    .title {
      font-weight: 600;
      text-align: left;
      display: inline-block;
      margin-right: 5px;
    }

    /* Audio */

    audio::-webkit-media-controls-panel {
      background-color: #4268b7;
      border-color: #4268b7;
      color: black;
      padding: 0;
      overflow: visible;
    }

    audio::-webkit-media-controls-play-button {
      background-color: #588cf1;
      border-radius: 100%;
    }

    audio::-webkit-media-controls-play-button:hover,
    audio::-webkit-media-controls-play-button:focus {
      background-color: #6197ff;
      transition: 300ms ease;
    }

    audio::-webkit-media-controls-current-time-display,
    audio::-webkit-media-controls-time-remaining-display {
      color: black;
      text-shadow: none;
      font-family: "Dosis";
    }

    audio {
      width: calc(100% - 20px);
      height: 40px;
      margin: 7px 10px 7px 0;
      border-radius: 10px;
    }

    /* Archive Page Specific */

    #home p {
    	margin: 5px 0;
    }

    #home .title-flex {
      display: flex;
      justify-content: space-between;
      align-self: stretch;
      margin: 10px;
      align-items: center;
      padding: 5px 10px 0;
      border-radius: 6px;
      color: #484a45;
      mix-blend-mode: hard-light;
    }

    #home .title-flex h1 {
      text-shadow: 0 -2px 0.5px #12110f, 0 -1px 0.5px #12110f, 0 1px 1px #dac59b;
    }

    #home .title-flex p {
      text-shadow: 0 -1px 0.5px #12110f, 0 1px 1px #dac59b;
      font-size: 1.1em;
      font-weight: 500;
      font-family: 'Averia Serif Libre';
    }

    .main-page-flex {
    	display: flex;
    	align-self: center;
	    width: 98%;
    	height: calc(var(--vh, 1vh) * 100 - 96px);
    }

    .character-profiles {
    	height: calc(var(--vh, 1vh) * 100 - 75px);
    	overflow: scroll;
    }

    .character-profile {
    	display: flex;
    	background: linear-gradient(15deg, #ddcaab, #f9eedc);
    	margin: 5px;
    	border-radius: 6px;
    	overflow: hidden;
    	align-items: center;
    	padding: 10px;
    	position: relative;
    	border: 1px solid #53390e;
      box-shadow: 0 2px 2px #352513;
    }

    .character-profile:first-of-type {
      margin-top: 0;
    }

    .character-profile .subtitle {
      color: #804111;
    }

    .character-profile ul {
      margin: 0 0 15px;
    }

    .character-profile a {
    	padding: 5px 10px;
    	margin: 5px;
    	border-radius: 4px;
    	background: #3C5034;
    	color: white;
    	position: absolute;
	    bottom: 0;
	    right: 0;
      border-top: 1px solid #f1f5ff;
      border-bottom: 1px solid #445676;
      transition: 200ms ease;
    }

    .character-profile a:hover {
      background: #527644;
      color: #d9ea97;
    }

    .character-profile a:focus {
      border-top: 2px solid #e9dac1;
      border-bottom: none;
      background: #3C5034;
      color: #d9ea97;
    }

    .character-profile a:active {
      border-top: 2px solid #e9dac1;
      border-bottom: none;
      background: #3C5034;
      color: #527644;
    }

	.character-profile img {
		width: 130px;
		background: blue;
		border-radius: 6px;
		border: 2px inset #53390e;
	}

	.character-profile ul {
		padding: 10px;
		min-width: 200px;
		text-align: center;
	}

	.character-profile .title {
		font-size: 125%;
	}

  #character-carousel {
    width: calc(100% - 400px);
    background: #121411;
    margin: 0 5px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    max-height: 100%;
    border: 1px dashed #f9eedc;
    background-clip: padding-box;
    border-left: 2px solid #352513;
    border-right: 2px solid #868365;
    border-top: 2px solid #352513;
    border-bottom: 2px solid #868365;
	}

	#character-carousel img {
    	min-height: 100%;
    	min-width: 100%;
    	object-fit: cover;
	    transition: opacity 600ms ease;
	}

  .image-shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background:linear-gradient(180deg, #ffffff0f 0, rgb(18 19 24 / 23%) 100%);
  }

  .image-shadow:after {
    content: '';
    position: absolute;
    box-shadow: rgb(59 60 74) 3px 3px 6px 0px inset, rgb(45 45 65 / 25%) -3px -3px 6px 1px inset;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
  }

	.dot-container {
		position: absolute;
		margin: 10px auto;
		left: 0;
		right: 0;
		text-align: center;
		bottom: 0;
    mix-blend-mode: plus-lighter;
	}

  .dot-container button {
    font-size: 1em;
  }

	.dot {
	  color: #89a07f;
	  display: inline-block;
	  transition: 0.6s ease;
	}

  .dot:hover, .dot:focus {
    color: #527644;
  }

	.dot.active {
	  color: #3d722f;
	}

	@media (max-width: 800px), (max-width: 940px) and (max-height: 450px) {

		.main-page-flex {
			flex-direction: column;
			height: auto;
		}

		#character-carousel {
			height: 40vh;
      width: auto;
		}
	}

