@font-face {
    font-family: 'Cunia';
    src: url('Cunia-webfont.eot');
    src: url('Cunia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HVDPoster';
    src: url('HVD_Poster-webfont.eot');
    src: url('HVD_Poster-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
